<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	<resultMap type="user" id="userResultSet">
		<result column="MEMBER_IDX" property="idx"></result>
		<result column="MEMBER_EMAIL" property="email"></result>
		<result column="MEMBER_PASSWORD" property="pwd"></result>
		<result column="MEMBER_NAME" property="name"></result>
		<result column="MEMBER_INDATE" property="indate"></result>
		<result column="MEMBER_REMOVE_DATE" property="removeDate"></result>
	</resultMap>
	
	<select id="user" resultMap="userResultSet">
			SELECT * FROM spring.member
	</select>
</mapper>






