<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="purchaseMapper">
	
	<resultMap id= "purchaseResultSet" type="purchase">
		<result column="PH_IDX" property="ph_idx"></result>
		<result column="PH_IN_DATE" property="ph_in_date"></result>
		<result column="PH_TOTALPRICE" property="ph_total_price"></result>

		<result column="P_IDX" property="p_idx"></result>
		<result column="P_NAME" property="p_name"></result>
		<result column="P_PRICE1" property="p_price1"></result>
		<result column="P_PRICE2" property="p_price2"></result>

		<result column="M_IDX" property="m_idx"></result>
		<result column="M_NAME" property="m_name"></result>
		<result column="M_EMAIL" property="m_email"></result>
		<result column="M_PHONE" property="m_phone"></result>
		<result column="M_ADDRESS" property="m_address"></result>

	</resultMap>
	
	<insert id = "purchaseHistory" parameterType="purchase">
		INSERT INTO PURCHASE_HISTORY VALUES(purchase_history_seq.NextVAL,
								SYSDATE,
								#{ph_total_price},
								#{p_idx},
								#{m_idx}
								)
	</insert>

</mapper>