<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="purchaseMapper">
	
	<resultMap id= "purchaseResultSet" type="purchase">
		<result column="PH_IDX" property="ph_idx"></result>
		<result column="PH_IN_DATE" property="ph_in_date"></result>
		<result column="PH_TOTAL_PRICE" property="ph_total_price"></result>

		<result column="P_IDX" property="p_idx"></result>
		<result column="P_NAME" property="p_name"></result>
		<result column="P_PRICE1" property="p_price1"></result>
		<result column="P_PRICE2" property="p_price2"></result>

		<result column="M_IDX" property="m_idx"></result>
		<result column="M_NAME" property="m_name"></result>
		<result column="M_EMAIL" property="m_email"></result>
		<result column="M_PHONE" property="m_phone"></result>
		<result column="M_ADDRESS" property="m_address"></result>
		<result column="M_MILEAGE" property="m_mileage"></result>
		
		
		<result column="CD_IDX" property="cd_idx"></result>
		<result column="CD_COLOR" property="cd_color"></result>
		<result column="CD_DESIGN" property="cd_design"></result>
		<result column="CD_NUMBER" property="cd_number"></result>
		<result column="CD_EXPIRED_DATE" property="cd_expired_date"></result>
		<result column="CD_CVC" property="cd_cvc"></result>
		<result column="CD_PWD" property="cd_pwd"></result>

	</resultMap>
	
	<insert id = "purchaseHistory" parameterType="purchase">
		INSERT INTO PURCHASE_HISTORY VALUES(purchase_history_seq.NextVAL,
								SYSDATE,
								#{ph_total_price},
								#{p_idx},
								#{m_idx}
								)
	</insert>
		

	<select id = "cardDetail" resultMap="purchaseResultSet">
		SELECT cd.cd_color, cd.cd_design , m.m_mileage
		FROM CARD cd
		JOIN MEMBER m
		ON cd.m_idx = m.m_idx
		WHERE m.m_idx = #{m_idx}
	</select>
	
	<select id="cardSelect" resultMap="purchaseResultSet">
    	SELECT *
    	FROM CARD
    	WHERE cd_number = #{cd_number}
    	AND cd_expired_date = #{cd_expired_date} 
    	AND cd_cvc = #{cd_cvc} 
    	AND cd_pwd = #{cd_pwd}  
	</select>
	
	<update id="mileagePlus" parameterType="purchase">
		UPDATE MEMBER
		SET m_mileage = #{m_mileage}
		WHERE m_idx = #{m_idx}
	</update>

	 <select id="purchaseInfo" resultMap="purchaseResultSet">
      SELECT *
	  FROM PURCHASE_HISTORY  
	  WHERE m_idx = #{m_idx}     
    </select>
	
		
</mapper>