<?xml version="1.0" encoding="UTF-8"?> 
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN"> 
    <!-- Appenders --> 
    <Appenders> 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p: %c - %m%n" />
        </Console> 
    </Appenders>
    
    <!-- Application Loggers -->
    <Loggers> 
        <Logger name="kr.co.green.board.controller" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger> 
        <Logger name="org.springframework.core" level="DEBUG" additivity="false"> 
            <AppenderRef ref="console" /> 
        </Logger> 
        <Logger name="org.springframework.beans" level="DEBUG" additivity="false"> 
            <AppenderRef ref="console" /> 
        </Logger> 
        <Logger name="org.springframework.context" level="DEBUG" additivity="false"> 
            <AppenderRef ref="console" /> 
        </Logger>
        <Logger name="org.springframework.web" level="DEBUG" additivity="false"> 
            <AppenderRef ref="console" /> 
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false"> 
            <AppenderRef ref="console" /> 
        </Logger> 
    </Loggers>
</Configuration>