<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>

		<typeAlias type="kr.co.green.member.model.dto.MemberDTO" alias="member"/>
		<typeAlias type="kr.co.green.customerBoard.dto.CustomerBoardDTO" alias="customerboard"/>
		<typeAlias type="kr.co.green.notice.model.dto.NoticeDTO" alias="notice"/>
		<typeAlias type="kr.co.green.card.model.dto.CardDTO" alias="card" />
		<typeAlias type="kr.co.green.product.model.dto.ProductDTO" alias="product" />
		<typeAlias type="kr.co.green.admin.model.dto.AdminDTO" alias="admin" />
		<typeAlias type="kr.co.green.purchase.model.dto.PurchaseDTO" alias="purchase" />

	</typeAliases>

	<mappers>

		<mapper resource="/mappers/member/member-mapper.xml"/>
		<mapper resource="/mappers/userService/customerboard-mapper.xml"/>
		<mapper resource="/mappers/notice/notice-mapper.xml"/>
		<mapper resource="/mappers/card/card-mapper.xml" />
		<mapper resource="/mappers/product/product-mapper.xml" />
		<mapper resource="/mappers/admin/admin-mapper.xml" />
		<mapper resource="/mappers/purchase/purchase-mapper.xml" />

	</mappers>

</configuration>