<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.co.green.member.model.dto.MemberDTO" alias="member"/>
		<typeAlias type="kr.co.green.customerBoard.dto.CustomerBoardDTO" alias="customerboard"/>
	</typeAliases>
	

	<mappers>
		<mapper resource="/mappers/userService/customerboard-mapper.xml"/>
		<mapper resource="/mappers/member/member-mapper.xml"/>
	</mappers>

</configuration>