<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="adminMapper">
	
	<resultMap id= "adminResultSet" type="admin">
		<result column="CD_IDX" property="cd_idx"></result>
		<result column="CD_COLOR" property="cd_color"></result>
		<result column="CD_APPROVE" property="cd_approve"></result>
		<result column="CD_DESIGN" property="cd_design"></result>

		<result column="M_IDX" property="m_idx"></result>
		<result column="M_NAME" property="m_name"></result>
		<result column="M_EMAIL" property="m_email"></result>
		<result column="M_ADDRESS" property="m_address"></result>
		<result column="M_ENGLISH_NAME" property="m_english_name"></result>
		<result column="M_PHONE" property="m_phone"></result>
	</resultMap>
	
	<select id = "selectListCount" parameterType="admin" resultType="_int">
		SELECT COUNT(*) 
		FROM CARD
	</select>
	
	<select id = "selectListAll" parameterType="admin" resultMap="adminResultSet">
		SELECT * 
		FROM CARD cd
		JOIN MEMBER m
		ON cd.m_idx = m.m_idx
		ORDER BY cd.CD_IDX DESC
	</select>
	
	<select id = "getModalList" resultMap="adminResultSet">
		SELECT * 
		FROM CARD cd
		JOIN MEMBER m
		ON cd.m_idx = m.m_idx
		WHERE cd_idx = #{cd_idx}
	</select>
	
	<update id = "approveCardApply" parameterType="admin">
		UPDATE CARD 
		SET CD_approve = '승인'
		WHERE CD_idx = #{cd_idx}
	</update>
	
	<update id = "rejectCardApply" parameterType="admin">
		UPDATE CARD 
		SET CD_approve = '거절'
		WHERE CD_idx = #{cd_idx}
	</update>
</mapper>