.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top: 15px;
    font-family: 'YouandiModernTR', sans-serif;
}

.product {
    display: flex;
    flex-direction: column;
    float: none;
    margin-left: 1%;
    margin-bottom: 50px;
    width: 24%;
    aspect-ratio: 6/5;
    position: relative;
    overflow: hidden;
    height: 350px;
}

.imgBox, .textBox, p {
    width: 100%; /* 모든 요소가 가로로 꽉 차도록 합니다. */
}
.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
}
.pname {
    margin: 0;
    padding: 0;
}
  
  .product:after {
    /* block & content */
    display: block;
    content: "";
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
  }
  
  .imgBox {
    width: 80%;
    
  }
  
  
  .imgBox img {
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .textBox {
    position: absolute;
    width: 22%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 3;
  }
  
  .textBox p {
    color: rgb(0, 0, 0);
    margin: 2px 0 0;
  }
  
  .textBox__name {
    font-size: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    font-family: 'YouandiModernTR', sans-serif;
  }
  .textBox__name img {
    width: 200%;
  }
  
  .textBox__price {
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    font-family: 'YouandiModernTR', sans-serif;
  }
  
  /* 마우스 올렸을 때에 기능 추가하기. */
  .product:hover:after {
    opacity: 1;
  }
  
  /* 기능 1 : 화면 살짝 불투명 + 화면 커지기. */
  .product:hover .imgBox img {
    transform: scale(1.1);
    /* 블러 처리하기. */
    filter: blur(6px);
  }
  
  /* 기능 2 : 상품 정보 보이면서 위로 올라가기. */
  .product:hover .textBox .textBox__name {
    opacity: 1;
    transform: translateY(0px);
  }
  
  /* 기능 2 : 상품 정보 보이면서 위로 올라가기. */
  .product:hover .textBox .textBox__price {
    opacity: 1;
    transform: translateY(0px);
  }
  
  /* 자연스럽게 트랜지션 적용하기. */
  .product:after,
  .product .imgBox img,
  .product .textBox__name,
  .product .textBox__price {
    transition: all 0.4s ease-in-out;
  }
  
  .container {
    width: 90%;
    margin: 10px auto;
    font-family: 'YouandiModernTR', sans-serif;
  } /*폭을 일정하게 담기 위한 css*/

  
  .first {
    width: 40%;
    margin-right: 10%;
    text-align: center;
    display: block;
  } /* 화면을 이분할하기 위해 width에 50% 적용 */
  .second {
    width: 50%;
    margin-right: 5%;
  } /* 화면을 이분할하기 위해 width에 50% 적용 */
  .second img {
    width: 20%;
  }
  
  .left {
    font-size: 20px;
    font-weight: bold;
  }
  
  .pn {
    font-size: 23px;
    font-weight: bold;
  
  }
  .mgg {
    width: 25%;
  }
  
  #one {
    display: flex;
  } /* container div중 하나를 선택하기 위한 id태그*/
  
  
  .gray {
    text-align: right;
    color: gray;
    font-size: 12px;
    font-style: bold;
  }
  
  .ppnn1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .ppnn2 {
    font-size: 13px;
    margin-top: 3px;
    padding-bottom: 5px;
  }
  
  .seconddetail {
    padding-top: 17px;
    border-top: 3px solid black;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    margin: 0;
  }
  
  .productdetail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }
  
  .productdetail span {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
    width: 50%;
  }
  .productdetail span img {
    width: 60%;
    float: right;
  }
  .productdetail2 {
    display: flex;
    justify-content: space-between;
  
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }
  .boxone {
    width: 50%;
    border-right: 2px dotted gray;
  }
  .boxtwo {
    width: 50%;
  }
  
  .productdetail2 ul {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 3px;
    margin: 0 15px 0 15px;
  }
  
  .productdetail2 li {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
  } /* productdetail2 의 ul과 ㅣi 모두 화면과 같은 레이아웃을 적용해주기 위해 
  위와 같이 Flex가 주된 css 적용*/
  
  .jjpp {
    display: flex;
    background-color: rgb(243, 240, 240);
    height: 45px;
    align-items: center;
    padding-left: 10px;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .id {
    font-weight: bold;
    font-size: 13px;
  }
  
  .ment {
    font-size: 13px;
    margin-left: 5px;
  }
  
  .reviewcomment {
    font-size: 13px;
    font-weight: bold;
    color: rgb(151, 143, 143);
    background-color: rgb(243, 240, 240);
    margin-top: 20px;
    padding: 7px;
    width: 100%;
    border: 1px solid rgb(243, 240, 240);
  } /* 리뷰 입력창을 위한 CSS*/
  
  .bottomzone {
    display: flex;
    background-color: rgb(44, 40, 40);
    padding: 30px;
    justify-content: space-around;
    color: white;
    font-size: 13px;
    padding-top: 40px;
  } /* 최하단부의 배너를 포괄하는 div의 CSS*/
  
  .bottomzone ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }
  
  .bottomzone li {
    padding-bottom: 8px;
  }
.www {
  width: 95%;
}
span .wwww {
  width: 30%;
  display: flex;
  justify-content: center;
}

input#chk_top{
  display:none;
  }
/*input 바로 다음의 label*/
input#chk_top + label{
  cursor:pointer;
 }

/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
input#chk_top + label:before{
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  line-height:15px;
  margin-top: -4px;
  border:1px solid #cbcbcb;
  vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
  }
  
/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
input#chk_top:checked + label:before{
  font-family: 'YouandiModernTR', sans-serif;
  font-size:13px;
  text-align:center;
  content:"V";
  }