/*기본설정 시작*/
@font-face {
    font-family: "YouandiModernTR";
    src: url("../fonts/fontYouandiModernTR.ttf"), url("../fonts/YouandiModernTR.eot"), url("../fonts/YouandiModernTR.woff")
}

/*font-family: 'Noto Sans KR', sans-serif;*/
html {
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;

}

body a {
    text-decoration: none !important;
}

.ofh {
    overflow: hidden;
}

a {
    cursor: context-menu;
    text-decoration: none !important;
}

.hidden {
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    z-index: 99999;
}

/*기본설정 끝*/

/*로딩화면*/
.loader_bg {
    /*로딩배경*/
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 900;
}

.loader {
    /*로딩 아이콘*/
    border: 16px solid #f3f3f3;
    border-top: 16px solid orange;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


.loader_bg p {
    /*로딩중 문구*/
    position: fixed;
    top: 58%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 400;
}


/*로딩 회전(spin 애니메이션)*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -ms-transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/*메뉴바 시작*/
header {
    position: relative;
    display: block;
    width: 100%;
    height: 95px;
    z-index: 10;
}


/*로고*/
#logo {
    position: absolute;
    width: 10%;
    min-width: 130px;
    height: 60px;
    top: 17.5px;
    left: 2%;
}

#logo img {
    width: 100%;
    height: auto;
}

/*메뉴버튼*/
#menu_btn {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 30px;
    right: 3%;
    z-index: 9999;
}


#menu_btn #t_stick {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: lightgray;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

#menu_btn #m_stick {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: lightgray;
    margin: 11.5px 0;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

#menu_btn #b_stick {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: lightgray;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

#menu_btn:hover #t_stick,
#menu_btn:hover #m_stick,
#menu_btn:hover #b_stick {
    background: white;
}

#menu_btn a:focus #t_stick,
#menu_btn a:focus #m_stick,
#menu_btn a:focus #b_stick {
    background: white;
}


#menu_btn #t_stick.selected {
    -webkit-transform: translateY(15.5px) rotate(45deg);
    -moz-transform: translateY(15.5px) rotate(45deg);
    -ms-transform: translateY(15.5px) rotate(45deg);
    -o-transform: translateY(15.5px) rotate(45deg);
    transform: translateY(15.5px) rotate(45deg);
}

#menu_btn #m_stick.selected {
    opacity: 0;
}

#menu_btn #b_stick.selected {
    -webkit-transform: translateY(-15.5px) rotate(-45deg);
    -moz-transform: translateY(-15.5px) rotate(-45deg);
    -ms-transform: translateY(-15.5px) rotate(-45deg);
    -o-transform: translateY(-15.5px) rotate(-45deg);
    transform: translateY(-15.5px) rotate(-45deg);
}


#menu_wrap {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 900;
    display: none;
}


#menu_wrap #main_nav {
    display: block;
    position: absolute;
    width: 80%;
    height: 340px;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu_wrap #main_nav #menu {
    width: 100%;
    height: 100%;
}

#menu_wrap>#main_nav>#menu>li {
    display: block;
    width: 20%;
    height: 60px;
    float: left;
}

#menu_wrap>#main_nav>#menu li>a {
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.500em;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 100%;
}

#menu_wrap>#main_nav #sub_menu {
    width: 100%;
    height: 280px;
    margin-top: 8px;
}

#menu_wrap>#main_nav #sub_menu li {
    width: 100%;
    height: 68px;
}

#menu_wrap>#main_nav #sub_menu li a {
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.250em;
    font-weight: 300;
    line-height: 60px;
}

#menu_wrap>#main_nav #sub_menu li a:hover,
#menu_wrap>#main_nav #sub_menu li a:focus {
    font-weight: 500;
    color: orange;
}


#sns {
    position: absolute;
    width: 35px;
    height: 200px;
    top: 50%;
    right: 2%;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sns #icon_list {
    width: 100%;
    height: 100%;
}

#sns #icon_list li {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

#sns #icon_list li:nth-child(4) {
    margin-bottom: none;
}

#sns #icon_list li a {
    display: block;
    width: 100%;
    height: 100%;
}


/*비주얼 영역*/
#visual_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

/*비주얼 버튼*/
#visual_btn {
    position: absolute;
    width: 100%;
    height: 62px;
    top: 22%;
    z-index: 1;
}

#visual_btn a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*비주얼 이전 버튼*/
#visual_btn #prev {
    width: 7.8%;
    height: 100%;
    margin-left: 20%;
    float: left;
}

#visual_btn #prev #prev_btn {
    display: block;
    text-align: center;
    line-height: 62px;
    width: 50%;
    height: 100%;
    margin-left: 10%;
    float: left;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#visual_btn .line {
    display: block;
    width: 40%;
    height: 4px;
    background: white;
    margin: 29px 0;
    float: left;
}

/*비주얼 이후 버튼*/
#visual_btn #next {
    width: 7.8%;
    height: 100%;
    margin-left: 73%;
}

#visual_btn #next #next_btn {
    display: block;
    text-align: center;
    line-height: 62px;
    width: 50%;
    height: 100%;
    margin-right: 10%;
    float: left;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/*비주얼 슬라이드 영역*/

#visual_list {
    position: relative;
    width: 100%;
    height: 100%;
}

#visual_list li {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/*텍스트 박스 공통 스타일*/
#text_list {
    position: absolute;
    display: block;
    width: 53%;
    height: 344px;
    top: 35%;
    left: 24.3%;
}

#text_list li {
    opacity: 0;
}

#text_list .txt_box_left {
    position: absolute;
    width: 100%;
    height: 344px;
    left: 10%;
    color: white;
    text-align: left;
}


#text_list .txt_box_right {
    position: absolute;
    width: 100%;
    height: 344px;
    right: 10%;
    color: white;
    text-align: right;
}

#text_list .sub_tit {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'YouandiModernTR', sans-serif;
    font-size: 1.625em;
    font-weight: normal;
}


#text_list .tit {
    display: block;
    width: 100%;
}

#text_list .tit a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.500em;
    font-weight: 400;
    margin-bottom: 11px;
    line-height: 1.2;
    color: white;
}

#text_list .txt {
    display: block;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.313em;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 22px;
    line-height: 1.2;
}


#text_list .more_btn {
    position: relative;
    display: block;
    width: 135px;
    height: 45px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    z-index: 5;
}

#text_list .more_btn a {
    display: block;
    width: 100%;
    height: 100%;
}

#text_list .txt_box_right>.more_btn {
    position: absolute;
    right: 0;
}


#text_list .more_btn p {
    position: relative;
    line-height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}


/*버튼에 hover했을 때 배경 설정*/
#text_list .more_btn a:before {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    left: 0%;
    height: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}


#text_list .more_btn a:hover:before,
#text_list .more_btn a:focus:before {
    width: 100%;
}

#text_list li:nth-child(1)>.more_btn a:before {
    background: rgb(124, 124, 124);
}

#text_list li:nth-child(2)>.more_btn a:before {
    background: rgb(26, 114, 26);
}

#text_list li:nth-child(3)>.more_btn a:before {
    background: rgb(100, 15, 100);
}

#text_list li:nth-child(4)>.more_btn a:before {
    background: rgb(252, 96, 49);
}

#text_list li:nth-child(5)>.more_btn a:before {
    background: rgb(242, 93, 160);
}

#text_list .more_btn a:hover p,
#text_list .more_btn a:focus p {
    color: white;
}


/*블랙카드 영역*/
#visual_black {
    background-color: #000;
}

#visual_black img:nth-child(1) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24%;
    min-width: 300px;
    height: auto;
}

#visual_black img:nth-child(2) {
    position: absolute;
    left: 54%;
    bottom: 100px;
    width: 34.5%;
    min-width: 343px;
    height: auto;
}


/*그린카드 영역*/
#visual_green {
    background-color: #019949;
}

#visual_green img:nth-child(1) {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 15%;
    min-width: 240px;
    height: auto;

}

#visual_green img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    min-width: 200px;
    height: auto;

}

#visual_green img:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    min-width: 300px;
    height: auto;

}


/*퍼플카드 영역*/
#visual_purple {
    background-color: #9b09cb;
}

#visual_purple img:nth-child(1) {
    position: absolute;
    left: 18%;
    top: 286px;
    width: 20%;
    min-width: 250px;
    height: auto;
}

#visual_purple img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 14.6%;
    min-width: 160px;
    height: auto;
}


#visual_purple .more_btn {
    margin-left: 73%;
}

/*레드카드 영역*/
#visual_red {
    background-color: #cf0c0c;
}


#visual_red img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    min-width: 100px;
    height: auto;
}


#visual_red img:nth-child(2) {
    position: absolute;
    left: 7%;
    bottom: 0;
    width: 30%;
    min-width: 350px;
    height: auto;
}

#visual_red .more_btn {
    margin-left: 73%;
}

/*핑크카드 영역*/
#visual_pink {
    background: rgb(211, 50, 123);
}


#visual_pink img:nth-child(1) {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 30%;
    min-width: 100px;
    height: auto;
}


#visual_pink img:nth-child(2) {
    position: absolute;
    left: 70%;
    bottom: 0;
    width: 30%;
    min-width: 350px;
    height: auto; 
}
#visual_pink img:nth-child(3) {
    position: absolute;
    left: 0%;
    top: 20%;
    bottom: 0;
    width: 20%;
    min-width: 350px;
    height: auto;
}

#visual_pink .more_btn {
    margin-left: 73%;
}

/*페이저 버튼(공통영역)*/

#visual_pager {
    position: absolute;
    display: block;
    width: 280px;
    height: 35px;
    bottom: 20px;
    left: 9%;
}

#visual_pager li {
    width: 20%;
    height: 100%;
    display: block;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.625em;
    font-weight: 400;
    color: lightgray;
    float: left;
}

#visual_pager li a {
    display: block;
    width: 100%;
    height: 100%;
    color: lightgray;
}

#visual_pager li a:hover,
#visual_pager li a:focus,
#visual_pager li a.active {
    color: white;
    font-weight: 500;
}


#log_btn {
    position: absolute;
    width: 150px;
    height: 35px;
    top: 44%;
    right: 10%;
    z-index: 9999;
}

#log_btn>a {
    color: white;
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 1000;
}

#log_btn>a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#home_btn {
    position: absolute;
    width: 150px;
    height: 35px;
    top: 44%;
    right: 10%;
    z-index: 9999;
}

#home_btn>a {
    color: white;
    margin-left: 110px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1em;
    font-weight: 1000;
}

#home_btn>a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.navmy {
    font-family: 'YouandiModernTR', sans-serif;
}

.egft1 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.egft1-1 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    margin-left: 12%;
    font-size: 35px;
    font-weight: bold;
}

.egft2 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
}

.egft3 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 10%;

}

.egft3-1 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50%;
    margin-bottom: -10%;
}

.egft4 {
    font-family: 'YouandiModernTR', sans-serif;
    color: rgb(13, 17, 151);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-bottom: -15%;
}

.egft5 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.egft5-1 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
}

.egft5-1-1 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;

}

.egft3-2 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 18%;
}

.egft3-2-1 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.egft3-3 {
    font-family: 'YouandiModernTR', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.imgg {
    width: 60%;
    height: auto;
    margin-left: 30%;
    margin-top: 25%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px gray;
    transition: .5s;
}

.imgg:hover {
    rotate: -15deg;
}

.imggg {
    width: 160px;
    height: auto;
    background-color: none;
    margin-top: 25%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px gray;
    transition: .5s;
}

.imggg:hover {
    rotate: -15deg;
}

.imgggg {
    width: 220px;
    height: auto;
    background-color: none;
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px gray;
    transition: .5s;
}

.imgggg:hover {
    rotate: -15deg;
}

.imggggg {
    width: 220px;
    height: auto;
    background-color: none;
    border-radius: 15px;
    box-shadow: 15px 15px 15px gray;
    transition: .5s;
}

.imggggg:hover {
    rotate: -15deg;
}

.imgg99 {
    width: 65%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 18%;
    border-radius: 5%;
    box-shadow: 15px 15px 15px gray;
    transition: .5s;
}

.imgg99:hover {
    rotate: -2deg;
}

.imgg999 {
    width: 250px;
    margin-right: 15%;
    margin-bottom: 3%;
    border-radius: 5%;
    box-shadow: 15px 15px 15px gray;
    transition: .5s;
}

.imgg999:hover {
    rotate: -2deg;
}




.left {
    float: left;
    width: 17%;
    height: auto;
    margin-top: 5%;
}

.right {
    float: right;
    width: 80%;
    height: auto;
}

.left7 {
    float: left;
    width: 30%;
    height: auto;
    margin-left: 20%;
    margin-top: 2%;
}

.left7 img {
    width: 150%;
}

.right7 {
    float: right;
    width: 50%;
    height: auto;
    margin-right: -30%;
    border: 10px inset rgb(184, 184, 184);
    border-radius: 5px;
    padding: 30px 0;
}

.right7 p img {
    width: 30%;
}

.right7 img {
    width: 60%;
}

.rl {
    width: 65%;
}

.vd {
    width: 100%;
    height: 95px;
    object-fit: cover
}

.text-left {
    text-align: left;
}

hr {
    border: 1px groove gray;
}

.bbbtn {
    width: 100%;
}

.bbbtn a {
    width: 20%;
    float: right;
    margin-top: 4%;
    margin-right: 5%;
}

/* 푸터 */
.footer {
    font-family: 'YouandiModernTR', sans-serif;
    position: relative;
    width: 100%;
    height: auto;
    background: #000000;
    min-height: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    position: relative;
    z-index: 1;
}




.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
    color: white;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100px;
    background: url("/images/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}


.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

/* top버튼데스네 */
#btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#btn-back-to-top:hover {
    background-color: #333;
}